# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtualenv
venv/
.venv/
env/
ENV/

# Build / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# macOS
.DS_Store

# workouts and activities
*.fit
